body {
    font-family: 'Work Sans', 'Oswald';
    background: #15181e;
}

.vinyl {
    /**Size**/
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    right: 52px;
    /**Animation**/
    animation: play 15s 0s infinite;
    transform: rotate(0deg);
    animation-timing-function: linear;
    /**Vinyl**/
    box-shadow: 0 0 0 5px #333, 0 0 0 6px #1a1a1a, 0 0 0 7px #333, 0 0 0 8px #1a1a1a, 0 0 0 9px #333, 0 0 0 10px #1a1a1a, 0 0 0 11px #333, 0 0 0 12px #1a1a1a, 0 0 0 13px #333, 0 0 0 14px #1a1a1a, 0 0 0 15px #333, 0 0 0 16px #1a1a1a, 0 0 0 17px #333, 0 0 0 18px #1a1a1a, 0 0 0 19px #333, 0 0 0 20px #1a1a1a, 0 0 0 21px #333, 0 0 0 22px #1a1a1a, 0 0 0 23px #333, 0 0 0 24px #262626, 0 0 0 25px #333, 0 0 0 30px #1a1a1a;
    border-radius: 50%;
}

.vinyl-cover {
    /**Size**/
    min-width: 100px;
    height: 100px;
    /**Vinyl**/
    float: left;
    background: black;
    z-index: 1;
    display: inline;
    position: relative;
    margin: 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    /* padding: 15px; */
}

form {
    margin: 0;
}

.search-artist {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.search-artist-submit {
    color: #fff;
}

.divider-top {
    border-top: solid .75px #282b33;
}
.divider-bottom {
    border-bottom: solid .75px #42454b;
}

div.albums,
div.albums div,
.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar {
    padding: 15px 15px;
    height: auto;
    background-color: #090b0d;
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: scroll;
}

nav {
    background: rgb(22, 27, 31);
    padding: .25 rem;
}

ul.nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    padding: 0;
    margin: 0;
    background: rgb(22, 27, 31);
}

.nav-list .nav-li {
    list-style: none;
    padding: 0.25rem 0;
}

.nav-list .nav-li a {
    color: #373d42;
    text-decoration: none;
    padding: 0 0 .25em;
}

.nav-list .nav-li a:hover {
    color: #fff;
    border-bottom: solid #fff;
}

.avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.albums,
.artist-prompt {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.artist-prompt,
.artist-hype {
    padding: 0 1em;
}

.artist-prompt div {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: inherit;
    margin: .5em 0;
}

.featured-artist {
    margin: 0 0;
}

.artist-hype span {
    cursor: pointer;
}

.hype,
.popular {
    background: #141a1f;
}

.calendar-drop {
    background: linear-gradient(rgb(22, 27, 31), #141a1f, rgb(22, 27, 31) 100%) 0% 0% / cover,
    url("https://i.scdn.co/image/8c81130db7b5f933412c4906c30327817f1e1b43") 0px 0px no-repeat;
}

.header {
    font-style: italic;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.column-one {
    margin: 0 15px 0 0;
}

.card {
    flex: 0 0 auto;
}

.column-row {
    margin: 15px 0;
    display: flex;
}

.popular-track-avatar {
    display: -webkit-inline-box;
}

.popular-track-avatar img {
    max-width: 6rem;
    max-height: 6rem;
    margin: 0 15px 0 0;
}

.inline-grid {
    display: inline-grid;
    vertical-align: middle;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.Aligner-item--top {
    align-self: flex-start;
}

.header,
.date,
.track-name,
.cal-row-day,
.cal-row-month {
    font-size: 16px;
}

.calendar-masthead {
    background: #090b0d;
}

.Aligner-item--bottom {
    align-self: baseline;
}

.Aligner-item--bottom span {
    color: #373d42;
}

.cal-row {
    display: flex;
    flex-flow: row;
}

.bullet-boarder {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 2px solid grey;
}

.cal-row-day {
    font-size: 32px;
    font-weight: 500;
    height: 35px;
}

.bullet {
    width: 50px;
    height: 30px;
    border: 4px solid #c1c7cb;
    border-radius: 100%;
    background: #141a1f;
    position: relative;
    top: 2.25em;
    right: 15px;
}

.events{
    min-width: 250px;
    width: auto;
    height: 79px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.albums,
.album-display {
    background: #282b33;
}

.search {
    display: inline;
}

.search-input {
    padding-left: 25px;
    width: 0;
    display: inline;
}

.fa-search {
    position: relative;
    right: -15px;
    z-index: 2;
    top: 2px;
}

.album-display {
    padding: 2rem;
}

.cover-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cal-row-day,
.cal-row-month {
    text-align: center;
}

.filter,
.events {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.header,
.date,
.month,
.cal-row-month {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.padding,
.popular,
.hype,
.calendar-masthead,
.bullet-boarder {
    padding: 1rem;
}

.albums,
.hype,
.featured-artist-fb,
.featured-artist-twtr,
.featured-artist-insta,
.artist-prompt,
.artist-hype,
.featured-artist,
.popular,
.date,
.filter,
.bullet-boarder span,
.events *,
.Aligner-item--bottom span.event-dtls {
    color: #c1c7cb;
    cursor: pointer;
}



@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
}

@media only screen and (min-width: 1200px) {
    /* styles for wide screens */
}

@media only screen and (max-width: 768px) {
    /* styles for narrow screens */
    header {
        height: 38%;
    }
}


